.fs-pushmenu{
    .fs{
        &-previous[data-current-level="0"]{
            display: none;
        }
        &-item[data-state="closed"]{
            > .fs-link{
                display: block;
            }
            > .fs-level{
                display: none;
            }
        }
        &-item[data-state="open"]{
            > .fs-link{
                display: none;
            }
            > .fs-level{
                display: block;
            }
        }
        &-link{
            display: block;
        }
        &-hidden{
            display: none;
        }
    }
}
