.nkd-pushmenu{
    .nkd{
        &-previous[data-current-level="0"]{
            display: none;
        }
        &-item[data-state="closed"]{
            > .nkd-link{
                display: block;
            }
            > .nkd-level{
                display: none;
            }
        }
        &-item[data-state="open"]{
            > .nkd-link{
                display: none;
            }
            > .nkd-level{
                display: block;
            }
        }
        &-link{
            display: block;
        }
        &-hidden{
            display: none;
        }
    }
}
