.fs-pushmenu{
    .fs{
        &-back-link[data-current-level="0"]{
            display: none;
        }
        &-item[data-state="closed"]{
            > .fs-link{
                display: block;
            }
            > .fs-level{
                display: none;
            }
        }
        &-item[data-state="open"]{
            > .fs-link{
                display: none;
            }
            > .fs-level{
                display: block;
            }
        }
        &-link{
            display: block;
        }
        &-hidden{
            display: none;
        }
    }

    //
    // skin
    .fs{
        &-back-link{
            &:before{
                margin-right: 10px;
                content: "<";
            }
        }
        &-item[data-state="closed"]{
            > .fs-link{
                &:after{
                    margin-left: 10px;
                }
            }
        }
        &-item[data-state="closed"]{
            > .fs-link{
                &:after{
                    content: ">";
                }
            }
        }        
        &-link,
        &-back-link{
            padding: 10px;
            border: 1px solid #000;
        }
    }
}
