//
// skin
.nkd-pushmenu{
  width: 300px;
  text-align: left;
  display: inline-block;

  .nkd{
    &-previous{
      &:before{
        margin-right: 10px;
        content: "<";
      }
    }
    &-link,
    &-previous,
    &-current-position{
      padding: 10px;
      border: 1px solid #ededed;
    }
    &-link,
    &-previous{
      &:focus{
        background-color: #ececec;
      }
    }
  }
  [data-state="closed"]{
    > .nkd-link{
      &:after{
        margin-left: 10px;
      }
    }
  }
  [data-state="closed"]{
    > .nkd-link{
      &:after{
        content: ">";
      }
    }
  }
}
